DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_URL=your_mongodb_cluster_url
DB_NAME=your_database_name
PORT=4000
DB_CONNECTION_STRING=mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority&appName=cluster-name
JWT_SECRET=your_jwt_secret_key
